[submodule "Teamspeak"]
	path = Teamspeak
	url = git@github.com:superbionicle/Teamspeak.git
[submodule "ADGuard-Home"]
	path = ADGuard-Home
	url = git@github.com:superbionicle/ADGuard-Home.git
[submodule "NSH"]
	path = NSH
	url = git@github.com:superbionicle/NSH.git
[submodule "Projet-K8S"]
	path = Projet-K8S
	url = git@github.com:superbionicle/Projet-K8S.git
[submodule "Dozzle"]
	path = Dozzle
	url = git@github.com:superbionicle/Dozzle.git
[submodule "Portainer"]
	path = Portainer
	url = git@github.com:superbionicle/Portainer.git
[submodule "Glance"]
	path = Glance
	url = git@github.com:superbionicle/Glance.git
